{% extends "app/layout.html" %}

{% block content %}
<div class="container">
    <!-- Trip Details -->
    <h1>{{ trip.title }}</h1>
    {%if user.is_staff %}
    <a href={% url "blogCreate" pk=trip.id %}>New Entry</a>
    {% endif %}
    
    {% if trip.imageLink %}
    <div class="trip-image">
        <img src="{{ trip.imageLink }}" alt="{{ trip.title }} image" style="max-width: 100%; height: auto;">
    </div>
    {% endif %}
    
    <div class="trip-info">
        <p><strong>Description:</strong> {{ trip.description }}</p>
        <p><strong>Start Date:</strong> {{ trip.start_date|date:"d/m/Y" }}</p>
        <p><strong>End Date:</strong> {{ trip.end_date|date:"d/m/Y" }}</p>
        <p><strong>Created on:</strong> {{ trip.created|date:"d/m/Y H:i" }}</p>
    </div>

    <!-- Blog Entries Related to This Trip -->
    <div class="blog-list">
        <h2>Related Blogs</h2>
        {% if blogs %}
            {% for blog in blogs %}
            <div class="blog-entry">
                <h3>{{ blog.title }}</h3>
                <p><strong>Location:</strong> {{ blog.city }}, {{ blog.country }}</p>
                <p>{{ blog.body }}</p>
                <p>Posted on {{ blog.created|date:"d/m/Y H:i" }}</p>
                {% if blog.imageLink %}
                    <img src="{{ blog.imageLink }}" alt="{{ blog.title }} image" style="max-width: 100%; height: auto;">
                {% endif %}
            </div>
            {% if user.is_staff %}
            <a href={% url "blogUpdate" pk=blog.id %}>Edit Entry</a>
            {% endif %}
            {% endfor %}
        {% else %}
            <p>No blogs found for this trip.</p>
        {% endif %}
        {% if comments %}
            <h2>Comments</h2>
            {% for comment in comments %}
            <div class="comment-entry">
                <p><strong>{{ comment.created|date:"d/m/Y H:i" }} | {{ comment.author }}:</strong> {{ comment.comment }} </p>
            </div>
            {% endfor %}
        {% else %}
            <p>No comments found for this trip.</p>
        {% endif %}
    </div>

    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <div class="comment-section">
        <h2>Leave a Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
