{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<div style="background-image: url({% static 'app/Images/' %}{{ trip.imageLink }}); background-size: cover; height: 700px; padding: 20px;">
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(255, 255, 255, 0.5); color:black; padding: 20px;">
        <h1>{{ trip.title }}</h1> 
        
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:150px; background-color: rgba(0, 0, 0, 0.5)" >
            <div class="col-md-1"></div>
            <div class="col-md-5"style="color:white">
                <h2>What're we doing here??</h2>
                <p>{{ trip.description }}</p>
            </div>
            <div class="col-md-5">
                {% if trip.start_date %}
                <div class="trip-info" style="color:white">
                    <h2>Trip Details</h2>
                    <p><strong>Start Date:</strong> {{ trip.start_date|date:"d/m/Y" }}</p>
                    <p><strong>End Date:</strong> {{ trip.end_date|date:"d/m/Y" }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
    <!-- Using margin to create space between sections -->
   
</div>

<div class="container-flex" style="padding-top:280px">
    {% if trip %}
    <!-- Trip Details -->
    <!-- Blog Entries Related to This Trip -->
    {% if user.is_staff %}
            <a href="{% url 'tripImageCreate' pk=trip.id %}" class="btn btn-secondary">Add image</a>
        {% endif %}
    <div class="blog-list">

        {% if trip_images %}
        <div class="row mb-5" style="background-color:black;">
            {% for trip_image in trip_images %}
                {% if forloop.counter0|divisibleby:4 %}
                    </div>
                    <div class="row mb-5" style="background-color:white; padding-top: 20px;">
                {% endif %}
                <div class="col-md-3">
                    <img src="{% static 'app/Images/' %}{{ trip_image.imageLink }}" style="width: 100%; height: auto;">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    

        {% if blogs %}
        {% for blog in blogs %}
        {% if user.is_staff or blog.active %}
        <div class="row mb-5" style="background-color: {% if forloop.counter|divisibleby:2 %}#222222{% else %}#ffffff{% endif %}; padding-top:20px">
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="color:{% if blog.active %}white{% else %}red{% endif %}; padding:20px">
                        <h3 class="card-title">{{ blog.title }}</h3>
                        <p class="card-text">{{ blog.body }}</p>
                        <p class="card-text"><small class="text-muted">Location: {{ blog.city }}, {{ blog.country }}</small></p>
                        <p class="card-text"><small class="text-muted">Posted on {{ blog.created|date:"d/m/Y H:i" }}</small></p>
                        {% if user.is_staff %}
                            <a href="{% url "blogUpdate" pk=blog.id %}" class="btn btn-primary">Edit Entry</a>
                        {% endif %}
                    </div>
                </div>
            </div>  
            <div class="col-md-8">
                {% if blog.imageLink %}
                <img src="{% static 'app/Images/' %}{{ blog.imageLink }}" style="width: 100%; height: auto;">
                {% endif %}
            </div>
            {% else %}
                <div class="col-md-8">
                    {% if blog.imageLink %}
                    <img src="{% static 'app/Images/' %}{{ blog.imageLink }}" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body" style="padding:20px; color: {% if blog.active %}black{% else %}red{% endif %}">
                            <h3 class="card-title">{{ blog.title }}</h3>
                            <p class="card-text">{{ blog.body }}</p>
                            <p class="card-text"><small class="text-muted">Location: {{ blog.city }}, {{ blog.country }}</small></p>
                            <p class="card-text"><small class="text-muted">Posted on {{ blog.created|date:"d/m/Y H:i" }}</small></p>
                            {% if user.is_staff %}
                                <a href="{% url "blogUpdate" pk=blog.id %}" class="btn btn-primary">Edit Entry 1</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
        {% else %}
            <p>No blogs found for this trip.</p>
        {% endif %}
    </div>

    <!-- Comment Form -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="comment-section" style="padding: 50px">
                {% if comments %}
                    <h2>Comments</h2>
                    <ul>
                        {% for comment in comments %}
                            <li>{{ comment.created|date:"d/m/Y H:i" }} - <strong>{{ comment.author }}:</strong> {{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Be the first to comment!</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 text-center">
                {% if user.is_authenticated %}
                    <h2>Leave a Comment</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <p><a href="{% url 'login' %}">Log in</a> to leave a comment.</p>
                {% endif %}
                
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    
    {% else %}
    <p>No trip found.</p>
    {% endif %}
</div>

{% endblock %}
