{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome To Our Travel Site!</h1>
</div>

<div class="trip-list">
    {% if news.count > 0 %}
    <div class="news">
        <h2>Latest News</h2>
        {% for item in news %}
        <div class="news-item">
            <h3>{{ item.title }}</h3>
            <p>{{ item.body }}</p>
            <p>Posted on {{ item.created|date:"d/m/Y H:i" }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


    {% for trip in trips %}
    <div class="trip-entry">
        <h3>{{ trip.title}}</h3>
        <p>{{ trip.description }}</p>
        <a href="{% url 'blogList' pk=trip.id %}" class="btn btn-primary">View Trip</a>
        
        <!-- Conditional for authenticated users -->
        {% if user.is_staff %}
            <!-- Update Trip -->
            <a href="{% url 'tripUpdate' pk=trip.id %}" class="btn btn-primary">Edit Trip</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
